.about {
  width: 100%;
  max-width: 1200px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  @media (--tablet) {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }

  &-meta {
    font-size: 1rem;
    margin-bottom: 10px;

    @media (--phone) {
      font-size: .85rem;
    }
  }

  &-title {
    font-size: 2.625rem;
    margin: 0 0 20px;

    @media (--phone) {
      font-size: 2rem;
    }

    a {
      text-decoration: none;
    }
  }

  &-content {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    @media (--tablet) {
      flex-direction: column;
    }
  }

  &-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    &-img {
      align-self: center;
      max-width: 400px;
      width: 100%;
      transition: filter 0.4s ease-in-out;

      &:hover {
        filter: invert(100%);
      }
    }

    &-caption {
      margin-top: 5px;
      font-style: italic;
      font-size: .85rem;
      text-align: center;
    }

  }
}
